/* Empty. Add your own CSS if you like */
.repeat-one::after{
    content:" 1";
}

.item .fbtn {
    padding: 20px 10px;
}

.item.range .duration{
    width: 81%;
    padding-left: 1px;
}

.item.range > * {
    float: left;
}

.progress .progress-bar-grey{
    background-color: #D3DCED;
}